@import "mixins/mixins";
@import "common/var";

@include b(extend-table) {
  // hover编辑时overflow样式去掉，兼容proper
  &-edit-hover {
    &.el-table {
      overflow: unset;
      & .el-table__body-wrapper {
        overflow: unset;
      }
      & .cell {
        overflow: unset;
      }
    }
  }
  // 伪造form表单的验证样式
  & .el-form-item {
    // margin-bottom: 0;
    display: inline;
    // width: 100%;
  }
  .el-tooltip {
    .el-form-item {
      white-space: nowrap;
      min-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
