@import "mixins/mixins";
@import "common/var";

@include b(extend-table) {
  &-edit-hover {
    &.el-table {
      overflow: unset;
      & .el-table__body-wrapper {
        overflow: unset;
      }
      & .cell {
        overflow: unset;
      }
    }
  }
  & .el-form-item {
    margin-bottom: 0;
  }
}
