@import "common/var";

@font-face {
  font-family: "my-icons";
  src: url("#{$--font-path}/iconfont.woff") format("woff"),
    /* chrome, firefox */ url("#{$--font-path}/iconfont.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="my-icon-"],
[class*=" my-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "my-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-check-mark-3:before {
  content: "\e697";
}
.my-icon-check-mark-4:before {
  content: "\e698";
}
.my-icon-add-1:before {
  content: "\e699";
}
.my-icon-check-mark:before {
  content: "\e69a";
}
.my-icon-achievements:before {
  content: "\e69b";
}
.my-icon-address-msg:before {
  content: "\e69c";
}
.my-icon-add:before {
  content: "\e69d";
}
.my-icon-add-4:before {
  content: "\e69e";
}
.my-icon-account-number:before {
  content: "\e69f";
}
.my-icon-application-msg:before {
  content: "\e6a0";
}
.my-icon-arrow-4:before {
  content: "\e6a1";
}
.my-icon-arrow-3:before {
  content: "\e6a2";
}
.my-icon-add-2:before {
  content: "\e6a3";
}
.my-icon-arrow-left-1:before {
  content: "\e6a4";
}
.my-icon-arrow-5:before {
  content: "\e6a5";
}
.my-icon-arrow-right:before {
  content: "\e6a6";
}
.my-icon-arrow-top:before {
  content: "\e6a7";
}
.my-icon-check-mark-1:before {
  content: "\e6a8";
}
.my-icon-arrow-2:before {
  content: "\e6a9";
}
.my-icon-assign:before {
  content: "\e6aa";
}
.my-icon-close:before {
  content: "\e6ab";
}
.my-icon-arrow-left:before {
  content: "\e6ac";
}
.my-icon-close-small:before {
  content: "\e6ad";
}
.my-icon-bill:before {
  content: "\e6ae";
}
.my-icon-cancel-submission:before {
  content: "\e6af";
}
.my-icon-close-solid-1:before {
  content: "\e6b0";
}
.my-icon-close-2:before {
  content: "\e6b1";
}
.my-icon-completion-shelves:before {
  content: "\e6b2";
}
.my-icon-complete:before {
  content: "\e6b3";
}
.my-icon-calendar:before {
  content: "\e6b4";
}
.my-icon-contract-msg:before {
  content: "\e6b5";
}
.my-icon-common:before {
  content: "\e6b6";
}
.my-icon-code-set:before {
  content: "\e6b7";
}
.my-icon-date:before {
  content: "\e6b8";
}
.my-icon-basic-data:before {
  content: "\e6b9";
}
.my-icon-commodity-msg:before {
  content: "\e6ba";
}
.my-icon-contrast-set:before {
  content: "\e6bb";
}
.my-icon-contrast-price:before {
  content: "\e6bc";
}
.my-icon-dispatch:before {
  content: "\e6bd";
}
.my-icon-delete-2:before {
  content: "\e6be";
}
.my-icon-designated:before {
  content: "\e6bf";
}
.my-icon-dispatch-set:before {
  content: "\e6c0";
}
.my-icon-contrast-msg:before {
  content: "\e6c1";
}
.my-icon-four:before {
  content: "\e6c2";
}
.my-icon-fixed:before {
  content: "\e6c3";
}
.my-icon-eight:before {
  content: "\e6c4";
}
.my-icon-delivery-coordination:before {
  content: "\e6c5";
}
.my-icon-empower-1:before {
  content: "\e6c6";
}
.my-icon-doubt:before {
  content: "\e6c7";
}
.my-icon-examine:before {
  content: "\e6c8";
}
.my-icon-edit:before {
  content: "\e6c9";
}
.my-icon-five:before {
  content: "\e6ca";
}
.my-icon-history:before {
  content: "\e6cb";
}
.my-icon-freeze-msg:before {
  content: "\e6cc";
}
.my-icon-hot:before {
  content: "\e6cd";
}
.my-icon-home:before {
  content: "\e6ce";
}
.my-icon-help:before {
  content: "\e6cf";
}
.my-icon-head:before {
  content: "\e6d0";
}
.my-icon-Import:before {
  content: "\e6d1";
}
.my-icon-export:before {
  content: "\e6d2";
}
.my-icon-integrated-msg:before {
  content: "\e6d3";
}
.my-icon-inventory-msg:before {
  content: "\e6d4";
}
.my-icon-inventory-adjustment:before {
  content: "\e6d5";
}
.my-icon-Import-1:before {
  content: "\e6d6";
}
.my-icon-column:before {
  content: "\e6d7";
}
.my-icon-journal-msg:before {
  content: "\e6d8";
}
.my-icon-parameter:before {
  content: "\e6d9";
}
.my-icon-lishibaojia:before {
  content: "\e6da";
}
.my-icon-lower-arrow:before {
  content: "\e6db";
}
.my-icon-seven:before {
  content: "\e6dc";
}
.my-icon-triangle-right:before {
  content: "\e6dd";
}
.my-icon-tidings:before {
  content: "\e6de";
}
.my-icon-triangle-down:before {
  content: "\e6df";
}
.my-icon-shouye:before {
  content: "\e6e0";
}
.my-icon-submission:before {
  content: "\e6e1";
}
.my-icon-product-traceability:before {
  content: "\e6e2";
}
.my-icon-production-information:before {
  content: "\e6e3";
}
.my-icon-push-1:before {
  content: "\e6e4";
}
.my-icon-on-duty:before {
  content: "\e6e5";
}
.my-icon-warning:before {
  content: "\e6e6";
}
.my-icon-shuaxin:before {
  content: "\e6e7";
}
.my-icon-more:before {
  content: "\e6e8";
}
.my-icon-mould-msg:before {
  content: "\e6e9";
}
.my-icon-zfl-star:before {
  content: "\e6ea";
}
.my-icon-unlock:before {
  content: "\e6eb";
}
.my-icon-to-examine:before {
  content: "\e6ec";
}
.my-icon-journal:before {
  content: "\e6ed";
}
.my-icon-news:before {
  content: "\e6ee";
}
.my-icon-triangle-mall-down:before {
  content: "\e6ef";
}
.my-icon-shoudongpaozhuan:before {
  content: "\e6f0";
}
.my-icon-one:before {
  content: "\e6f1";
}
.my-icon-push-push:before {
  content: "\e6f2";
}
.my-icon-search-1:before {
  content: "\e6f3";
}
.my-icon-pricing-1:before {
  content: "\e6f4";
}
.my-icon-relationship-relieve:before {
  content: "\e6f5";
}
.my-icon-one-circle:before {
  content: "\e6f6";
}
.my-icon-two:before {
  content: "\e6f7";
}
.my-icon-triangle-top:before {
  content: "\e6f8";
}
.my-icon-locking:before {
  content: "\e6f9";
}
.my-icon-remind:before {
  content: "\e6fa";
}
.my-icon-key:before {
  content: "\e6fb";
}
.my-icon-Refresh:before {
  content: "\e6fc";
}
.my-icon-qr-code:before {
  content: "\e6fd";
}
.my-icon-supplier-msg:before {
  content: "\e6fe";
}
.my-icon-supplier-development:before {
  content: "\e6ff";
}
.my-icon-zero:before {
  content: "\e700";
}
.my-icon-recent-operation:before {
  content: "\e701";
}
.my-icon-strategy:before {
  content: "\e702";
}
.my-icon-pingfen:before {
  content: "\e703";
}
.my-icon-price-discussion:before {
  content: "\e704";
}
.my-icon-no-choice:before {
  content: "\e705";
}
.my-icon-step:before {
  content: "\e706";
}
.my-icon-relationship-maintain:before {
  content: "\e707";
}
.my-icon-password-1:before {
  content: "\e708";
}
.my-icon-mechanism-map:before {
  content: "\e709";
}
.my-icon-mail:before {
  content: "\e70a";
}
.my-icon-release-msg:before {
  content: "\e70b";
}
.my-icon-material-lending-return:before {
  content: "\e70c";
}
.my-icon-six:before {
  content: "\e70d";
}
.my-icon-remind-1:before {
  content: "\e70e";
}
.my-icon-materiel-msg:before {
  content: "\e70f";
}
.my-icon-top-4:before {
  content: "\e710";
}
.my-icon-report-1:before {
  content: "\e711";
}
.my-icon-submission-1:before {
  content: "\e712";
}
.my-icon-man:before {
  content: "\e713";
}
.my-icon-merchants-msg:before {
  content: "\e714";
}
.my-icon-suoding:before {
  content: "\e715";
}
.my-icon-retrieve-password:before {
  content: "\e716";
}
.my-icon-tidings-1:before {
  content: "\e717";
}
.my-icon-to-void:before {
  content: "\e718";
}
.my-icon-three:before {
  content: "\e719";
}
.my-icon-official-account:before {
  content: "\e71a";
}
.my-icon-warehouse-msg:before {
  content: "\e71b";
}
.my-icon-parity:before {
  content: "\e71c";
}
.my-icon-relationship-msg:before {
  content: "\e71d";
}
.my-icon-print-preview:before {
  content: "\e71e";
}
.my-icon-three-circle:before {
  content: "\e71f";
}
.my-icon-two-circle:before {
  content: "\e720";
}
.my-icon-zfl-star-1:before {
  content: "\e721";
}
.my-icon-printing:before {
  content: "\e722";
}
.my-icon-order-synergy:before {
  content: "\e723";
}
.my-icon-verification-code:before {
  content: "\e724";
}
.my-icon-parameter-1:before {
  content: "\e725";
}
.my-icon-suoding-2:before {
  content: "\e726";
}
.my-icon-open-eyes:before {
  content: "\e727";
}
.my-icon-question:before {
  content: "\e728";
}
.my-icon-warehousing-msg:before {
  content: "\e729";
}
.my-icon-toss:before {
  content: "\e72a";
}
.my-icon-quality-msg:before {
  content: "\e72b";
}
.my-icon-task-msg:before {
  content: "\e72c";
}
.my-icon-nine:before {
  content: "\e72d";
}
.my-icon-search:before {
  content: "\e72e";
}
.my-icon-strategy-msg:before {
  content: "\e72f";
}
.my-icon-supplement:before {
  content: "\e730";
}
.my-icon-shouji:before {
  content: "\e731";
}
.my-icon-new:before {
  content: "\e732";
}
.my-icon-user-settings:before {
  content: "\e733";
}
.my-icon-map-location:before {
  content: "\e734";
}
.my-icon-screen:before {
  content: "\e735";
}
.my-icon-manual-acquisition-1:before {
  content: "\e736";
}
.my-icon-password:before {
  content: "\e737";
}
.my-icon-outgoing-msg:before {
  content: "\e738";
}
.my-icon-minimum:before {
  content: "\e739";
}
.my-icon-task-release:before {
  content: "\e73a";
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
